@model TermDTO

<form asp-action="CreateTerm">
    <br/>
    <div class="container border p-3">
        <h1 class="text-primary">Create Term</h1>
        <br />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="Name" class="form-control"/> 
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Definition" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10">
                <textarea asp-for="Definition" class="form-control"></textarea>
                <span asp-validation-for="Definition" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexGlossary" asp-controller="Glossary" class="btn-primary btn form-control">Back to Glossary</a>
            </div>
            <div class="col-5">
                <input type="submit" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}